@model IEnumerable<HospitalCould.Controllers.SkViewModel>

@{
    ViewBag.Title = "OtherRequestResult";
}

<h2>OtherRequestResult</h2>

<table id="sendrequestlist">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.PatientName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.DoctorName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Topic)
            </th>

            <th>Send Request Link</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.PatientName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.DoctorName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.FileName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Topic)
                </td>

                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                    @if(item.Status!="approved"){
                    <a href="@Url.Action("SendRequestForFile", "Doctors", new { docId = item.DoctorId, fileId = item.Id })" >Send Request</a>
                    }
                    else
                    {
                    <label><a href="@Url.Action("DownloadRequestFile","Doctors",new{fileId=item.Id})">Download</a></label>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#sendrequestlist').DataTable();
    });
   
</script>
