@model HospitalCloud.Models.UserRegisteration

@{
    ViewBag.Title = "EditDoctor";
}
<style>
    .form-group {
        margin-top: 25px;
    }
</style>
<h2>EditDoctor</h2>

<div class="col-xs-8">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)


        <div>
            <div>
                <input type="hidden" name="docId" value="@Model.Id" />
            </div>

            <div class="form-group">
                <label for="Name" class="control-label col-xs-2" style="text-align: left !important">Name</label>
                <div class="col-xs-10">
                    <input type="text" id="name" name="Name" class="form-control" placeholder="Name" readonly required  value="@Model.Name" />

                </div>
            </div>
            <div style="height: 20px;"></div>
            <div class="form-group">
                <label for="Email" class="control-label col-xs-2" style="text-align: left !important">Email</label>
                <div class="col-xs-10">
                    <input type="text" id="Email" name="Email" class="form-control" placeholder="Email"  value="@Model.Email" />

                </div>
            </div>
            <div style="height: 20px;"></div>

            <div class="form-group">
                <label for="Phone" class="control-label col-xs-2" style="text-align: left !important">Phone</label>
                <div class="col-xs-10">
                    <input type="text" id="Phone" name="Phone" class="form-control" placeholder="Phone"  value="@Model.Phone" />

                </div>
            </div>
            <div style="height: 20px;"></div>
            <div class="form-group">
                <label for="UserName" class="control-label col-xs-2" style="text-align: left !important">UserName</label>
                <div class="col-xs-10">
                    <input type="text" id="UserName" name="UserName" class="form-control" placeholder="UserName" readonly required value="@Model.UserName" />

                </div>
            </div>
            <div style="height: 20px;"></div>
            <div class="form-group">
                <label for="Password" class="control-label col-xs-2" style="text-align: left !important">Password</label>
                <div class="col-xs-10">
                    <input type="text" id="Password" name="Password" class="form-control" placeholder="Password" readonly required   value="@Model.Password" />

                </div>
            </div>
            <div style="height: 20px;"></div>

            
                  <div class="form-group">
                    <label for="Department" class="controle-label col-xs-2" style="text-align:left !important">Department</label>
                      <div class="col-xs-10">
                      <input type="text" name="Department" class="form-control" id="Department" placeholder="Department"  value="@Model.Department"  />
                          </div>
                </div>
             <div style="height: 20px;"></div>

                  <div class="form-group">
                    <label for="Designation" class="controle-label col-xs-2" style="text-align:left !important">Designation</label>
                      <div class="col-xs-10">
                      <input type="text" name="UserName" class="form-control" id="Designation" placeholder="Designation"   value="@Model.Designation"  />
                          </div>
                </div>

        </div>
        
                <div class="form-group">
            <div class="col-xs-offset-6">
                <div class="col-xs-6">
                    <button type="submit" class="btn bg-olive btn-block">Update</button>
                </div>
                  <div class="col-xs-6">
                    <button type="button" class="btn bg-olive btn-block" onclick="Back()">back</button>  
                </div>

            </div>
        </div>

    }
</div>


  <script>

        function Back() {
            window.history.back();
        }
    </script>